:root {
  /* --primary-color: rgb(79, 154, 154); */
  --primary-color: rgb(3, 56, 56);
  --standout-color: red;
  --text-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Geneva, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: var(--text-color);
  width: 30%;
  text-align: right;
  padding: 0.8rem 1.5rem;
}

.standout-color {
  color: var(--standout-color);
}

nav {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
}

#hero-section {
  display: flex;
  flex-direction: row-reverse;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#hero-section h1 {
  background-color: var(--primary-color);
  color: var(--standout-color);
  text-shadow: 5px 5px black;
  padding: 2rem;
  border-radius: 1rem;
}

#about-div {
  display: flex;
}

main {
  background-color: var(--primary-color);
}

section {
  display: flex;
  justify-content: space-between;
}

section h2 {
  width: 20%;
  border-right: 2px solid white;
  padding: 2rem;
}

section div {
  width: 80%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  header {
    display: none;
  }
}
